<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div style="padding: 10px; text-align: center;">
    <h1><a th:href="@{/notices/noticeList}" style="text-decoration: none">공지 리스트</a> </h1>
</div>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead style="text-align: center;">
            <tr>
                <th style="text-align: center;">#</th>
                <th style="text-align: center;">작성자</th>
                <th style="text-align: center;">제목</th>
                <th style="text-align: center;">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="notice : ${noticeList}">
                <th scope="row">
                    <span th:text="${notice.id}"></span>
                </th>
                <td>
                    <a th:href="@{'/noticea/' + ${notice.id}}">
                        <span th:text="${notice.title}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${notice.member}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>